@charset "utf-8";



/* CSS Document */


/*chrome */

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background-color: #ddd; }
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar { background-color:#333; }
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background-color:#333;}
.mCSB_scrollTools .mCSB_draggerRail { background-color: #333; }



::-webkit-scrollbar-track-piece {width:8px;background-color:#E0E0E0;}
::-webkit-scrollbar {width:8px;background-color:#333;}
::-webkit-scrollbar-thumb {width:8px;background-color:#BDBDBD;}
::-webkit-scrollbar-thumb:hover {width:8px;background-color:#333;}



#sitecontent .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: #ccc; }
#moduleControl a.moduleCItem{background-color:rgba(103, 103, 103, 0.3);}


#sitecontent .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar { background-color:#333; }
#sitecontent .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background-color:#333;}
#sitecontent .mCSB_scrollTools .mCSB_draggerRail { background-color: #333; }


.theme-bred #header,
.theme-bred #footer, 
.agent-pc #shares a,
.agent-pc .npagePage .news .item_block .item_wrapper,
.agent-pc .npagePage.post .service #postNav li.navitem,
.npagePage .content hr,
.agent-pc .npagePage .news li.item_block .item_wrapper,
.agent-mobile .mlist.news .content_list li,
.agent-mobile .npagePage.post #postNav .navitem,
.agent-mobile .module.mcounter ul.content_list li div,
.agent-pc #sitecontent .npagePage.post .content .mlistpost.news .module_container #listContent .mlist .content_list .item_block
{border-color: #cfcfcf; }




.agent-pc .npagePage.post .service p.title,
.agent-pc .npagePage.post #postNav h3,
.agent-mobile .npagePage.post #postInfo .title,
.agent-mobile .npagePage.post .content_wrapper h3,
.agent-pc .project .description a,
.theme-bred #sitecontent .tab_button .content_list li:hover .title,
.agent-mobile .npagePage.post #listContent h3,
.agent-mobile #sitecontent #listContent  .item_block:hover .title,
.agent-mobile .npagePage.post .project #postInfo .description a,
.agent-mobile #category .label
{color: #f0f0f0;}



html, 
body,
.agent-pc #header .wrapper,
.theme-bred  #header,
.agent-pc #header .nav .subnav,
.theme-bred  #footer, 
.agent-pc #shares a,
#sitecontent .module.bgShow.mcustomize,
#sitecontent #mcontact.module,
#pageTarget,
.agent-pc .news .content_list .item_block:after,
.yyloading, .bx-wrapper .bx-loading,
.agent-pc .news .more,
.agent-mobile .imagelink,
#sitecontent #indexPage .mcustomize .module_container .container_content,
.agent-mobile #header, .agent-mobile #mcontact, .agent-mobile .imagelink,
#sitecontent .project .content_list .item_block .item_wrapper,
.agent-pc .mlist.team_tabs .tab_content .content_list li.item_block:after,
.agent-pc .mlist.team_tabs .content_list .tab_button .icon:after,
#online_lx,
.agent-pc .news .content_wrapper .content_list:before,
.agent-pc #header .nav .subnav li a.active, 
#olx_qq li a:hover,
#sitecontent .npagePage .item_tags a,
.agent-pc .npagePage.post .navlist li a.navlist_t,
.agent-mobile .npagePage.post #postWrapper .item_tags a
{background-color: #fff;}



.agent-pc .mlist.team_tabs .content_wrapper .tab_button .icon:after{ border-top-color:#222;}
.agent-mobile .npagePage.post #postWrapper .item_tags a{border-color: #222;}



.container_category a::after,
.news .content_list::before,
#indexPage #topSlider .bx-wrapper .bx-pager a div.progress, 
.bx-wrapper .bx-pager.bx-default-pager a,
.mlist.team_tabs .tab_content li .item_info::after
{background-color:#CECECE;}



.mm-menu,.dropmenu ul li a{ background-color:#0C0C0C;color:#959595;}
.mm-menu .mm-listview>li:after,
.mm-menu .mm-listview>li .mm-next:before, .mm-menu .mm-listview>li .mm-prev:after,
.dropmenu ul li,
.dropmenu ul li{border-color:rgba(255,255,255,.05);}
#sitecontent .npagePage .item_tags i{color:#444;}
.module.mcounter ul.content_list li div:after{ display:none;}
#footer span,#footer strong{color:#666}



.agent-pc #contactform p textarea.inputtxt,
.agent-pc #contactform p .inputtxt
{border-color:rgba(255,255,255,.1);color:#999999;}


.agent-pc #contactform p .inputtxt.submit{border-color:#333;}
.agent-pc #contactform p .inputtxt.submit:hover{border-color:#333;color:#131313;background-color:#333;}



.bx-wrapper .bx-pager.bx-default-pager a{border-color:#DEDEDE;}
.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus{ background-color:#5a5a5a; border-color:#5a5a5a;}


#mcontact .contactinfo h3{color:#FFFFFF;}
.mm-menu em.mm-counter{color:#959595;}
.mm-menu .mm-listview>li.mm-selected>a:not(.mm-next), .mm-menu .mm-listview>li.mm-selected>span{ background-color:rgba(255,255,255,.05);}
.mm-menu .mm-navbar{border-color:transparent;}
.mm-menu .mm-navbar>a{color:transparent;}
.mm-menu .mm-listview>li .mm-arrow:after, .mm-menu .mm-listview>li .mm-next:after, .mm-menu .mm-listview>li .mm-prev:before,
.mm-arrow:after, .mm-next:after, .mm-prev:before,
.mm-menu .mm-navbar .mm-btn:after, .mm-menu .mm-navbar .mm-btn:before{border-color:rgba(255,255,255,.3);}




.cate-box,.dropmenu ul li a.active{ background-color:#222222;}
.dropmenu ul{ background-color:#0c0c0c;}

#online a::after{ background-color:rgba(255,255,255,.05);}
#online{ background-color:rgba(29, 29, 29, 0.9);box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);}
#online a{color:#333;}




#olx_head,
#indexPage #topSlider .bx-wrapper .bx-pager a div.mask,
#sitecontent .container_category a:hover,
#sitecontent .container_category a.active,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.agent-pc .news .content_list .item_block:hover:before,
.agent-pc .news .container_content .more:hover,
#sitecontent .npagePage.post .item_tags a:hover,
.agent-pc .npagePage.post ul.navlist li.active a.navlist_t,
.agent-pc .npagePage.post ul.navlist li:hover a.navlist_t,
.agent-pc #sitecontent .project .description p a:hover,
#online_open,
.agent-mobile .npagePage.post .project #postInfo .description a:hover,
#category .label,
.agent-pc #mcontact #contactinfo div a:hover,
#online_open:hover,
.agent-mobile .npagePage.post #postWrapper .item_tags a:hover,
#header .nav .navitem>a:before,
#sitecontent #indexPage .mlist .module_container .container_category a.active, #sitecontent #indexPage .mlist .module_container .container_category a:hover,
#sitecontent #indexPage .service .module_container .content_wrapper .bx-controls .bx-controls-direction a:hover,
#sitecontent #indexPage .team .module_container .container_content .content_wrapper .bx-wrapper .bx-controls .bx-controls-direction a:hover,
#sitecontent #indexPage .team .module_container .container_content .content_wrapper .bx-wrapper .bx-controls .bx-controls-direction a:hover,
#sitecontent #indexPage .news .module_container .container_content .content_wrapper .bx-controls .bx-controls-direction a:hover,
.agent-pc .news .content_list a.details::after,
.agent-pc #sitecontent .npagePage .bx-controls-direction a.agent-pc #sitecontent .npagePage .bx-controls-direction a:hover,
#sitecontent .container_category a.active,
.agent-pc #sitecontent .npagePage:not(.post) .mlist.news .content_list .item_block a.details:before,
.agent-pc #olx_qq li a:hover,
.agent-pc #sitecontent .npagePage.post #postWrapper .item_tags a.active, .agent-pc #sitecontent .npagePage.post #postWrapper .item_tags a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus,
.agent-mobile .indexPage .wrapper>.more:hover,
.mm-menu .mm-listview>li.mm-selected>a:not(.mm-next), .mm-menu .mm-listview>li.mm-selected>span,
.contactinfo div a:hover,
.agent-pc .mlist.team_tabs .tab_button li.active, .agent-pc .mlist.team_tabs .tab_button li:hover,
.agent-pc #sitecontent .npagePage .bx-controls-direction a:hover,
.cate-box, .dropmenu ul li a.active
{background-color:#333;}



.agent-pc #sitecontent .npagePage #pageTarget .module_container .container_target a:hover, .agent-pc #sitecontent .npagePage #pageTarget .module_container .container_target a:last-child,
#sitecontent #indexPage .project .module_container .container_content .content_wrapper .bx-controls .bx-controls-direction .bx-next i:hover::after,
#sitecontent #indexPage .project .module_container .container_content .content_wrapper .bx-controls .bx-controls-direction .bx-prev i:hover::after,
#sitecontent .npagePage .team li.item_block:hover .title,
.agent-pc #sitecontent .npagePage:not(.post) .mlist.news .content_list .item_block:hover .item_wrapper .title,
.agent-pc #sitecontent .npagePage.post #postContent .project .item_block:hover .title,
.agent-pc #sitecontent .npagePage.post .content .mlistpost.news .module_container #listContent .mlist .content_list .item_block:hover .item_wrapper .item_info .title,
.agent-pc #header .nav > li > a span::after,
.agent-pc #sitecontent .npagePage .content .mlistpost.project .item_wrapper:hover .title,
.agent-mobile .dropmenu ul li:hover a,
.agent-mobile .mm-listview>li>a.active,
.agent-mobile #sitecontent .project .content_list .item_block:hover .title,
.agent-mobile .team .item_block:hover .title,
.agent-mobile .team_tabs .tab_content .content_list li:hover .title,
#sitecontent .mlist.team_tabs .tab_content li.item_block:hover .title,
.agent-mobile #sitecontent .ad01 .content_list li:hover .title,
.agent-mobile #sitecontent .ad01 .m_container .content .content_list li:not(:nth-of-type(1)) .item_wrapper:hover .item_info .title,
.theme-bred #sitecontent .news .content_list li:hover .title,
.contactinfo p a,
.agent-mobile .news .item_block:hover .item_info .title,
#sitecontent .service .content_list .item_block:hover .title,
.agent-mobile #sitecontent .npagePage.post .project #postContent .item_block:hover .item_info .title,
.agent-pc #sitecontent .project .item_block:hover .title,
#sitecontent #indexPage .ad01 .module_container .container_content .content_wrapper .content_list .item_block:hover:nth-of-type(1) .item_wrapper .title,
#sitecontent #indexPage .service .module_container .content_wrapper .content_list .item_block:hover:nth-child(2n) .item_wrapper .item_info .title,
#sitecontent #indexPage .service .module_container .content_wrapper .content_list .item_block:hover:nth-child(2n+1) .item_wrapper .item_info .title,
#header .nav > li a.active i, #header .nav > li:hover a i,
#header .nav .subnav li a.active, #header .nav .subnav li a:hover,
.agent-pc .news .content_list .item_block:hover a.details i::before,
.agent-pc #sitecontent .npagePage:not(.post) .mlist.project .content_list .item_block:hover .item_wrapper::before,
#sitecontent #indexPage .project .module_container .container_content .content_wrapper .content_list .item_block:hover .item_wrapper::before,
#sitecontent #indexPage .ad01 .module_container .container_content .content_wrapper .content_list .item_block:hover:not(:nth-of-type(1)) .item_wrapper .item_info .title,
.agent-mobile .team .item_block:hover .title,
 .agent-mobile .news .item_block:hover .item_info .title
{color:#333;}


#indexPage #topSlider ul li p.title,
#indexPage #topSlider ul li p.subtitle,
.agent-mobile .mlist .header .title,
.theme-bred  #sitecontent .module .container_header .title,
#olx_qq li a:hover i,
.mcustomize .title,
#pages a.active,
.npagePage .container_target a:last-child,
.agent-pc .npagePage .news li.item_block:hover .title,
.agent-pc .npagePage.post a:hover p.title,
.agent-pc .npagePage.post a.active p.title,
.dropmenu ul li a.active,
.agent-pc .imagelink .bx-wrapper .bx-controls-direction a:hover i,
#pages a:hover,
#sitecontent #indexPage .service .module_container .content_wrapper .bx-controls .bx-controls-direction a.bx-prev i:hover::after,
#sitecontent #indexPage .service .module_container .content_wrapper .bx-controls .bx-controls-direction a.bx-next i:hover::after,
#sitecontent #indexPage .team .module_container .container_content .content_wrapper .bx-wrapper .bx-controls .bx-controls-direction a i:hover::after,
.agent-pc .mlist.team_tabs .tab_button .item_info:hover p.subtitle

.agent-pc .mlist.team_tabs .tab_button .item_info:active p.subtitle, .agent-pc .mlist.team_tabs .tab_button .item_info:hover p.subtitle,
#sitecontent #indexPage .news .module_container .container_content .content_wrapper .bx-controls .bx-controls-direction a.bx-prev i:hover::after,
#sitecontent #indexPage .news .module_container .container_content .content_wrapper .bx-controls .bx-controls-direction a.bx-next i:hover::after,
.agent-pc #sitecontent .npagePage #mcontact #contactform .submit:hover,
.agent-pc #olx_qq li a:hover,
#olx_qq li a:hover i,
.agent-pc #sitecontent .npagePage .bx-controls-direction i:hover:before,
.agent-mobile .indexPage .wrapper>.more:hover,
.mm-menu .mm-listview>li.mm-selected>a:not(.mm-next), .mm-menu .mm-listview>li.mm-selected>span,
.contactinfo div a,
.agent-mobile .npagePage.post #postWrapper .item_tags a:hover,
#sitecontent #indexPage .team .module_container .container_content .content_wrapper .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev i:hover::after,
#sitecontent #indexPage .team .module_container .container_content .content_wrapper .bx-wrapper .bx-controls .bx-controls-direction a.bx-next i:hover::after,
.agent-pc .mlist.team_tabs .tab_button li.active .item_wrapper .item_info p.title, .agent-pc .mlist.team_tabs .tab_button li:hover .item_wrapper .item_info p.title,
.agent-pc .mlist.team_tabs .tab_button li.active .item_wrapper .item_info p.subtitle, .agent-pc .mlist.team_tabs .tab_button li:hover .item_wrapper .item_info p.subtitle,
.agent-pc #indexPage #mcontact .container_content #contactlist #contactform .submit:hover,
#sitecontent #indexPage .news .module_container .container_content .content_wrapper .content_list .item_block:hover .item_wrapper .item_des .description,
.agent-pc .news .content_list .item_block:hover .date_wrap .year,
.agent-pc .news .content_list .item_block:hover .date_wrap .md,
.agent-pc .news .content_list .item_block:hover .item_wrapper .date_wrap .md,
#mm-slider .slider-info .subtitle,
#sitecontent #indexPage .news .module_container .container_content .content_wrapper .content_list .item_block:hover .item_wrapper .title,
.bx-wrapper .bx-helper .bx-sliderCount span,
#sitecontent #indexPage #topSlider .bx-wrapper .bx-controls .bx-controls-direction a.bx-next i:hover::before, 
#sitecontent #indexPage #topSlider .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev i:hover::before
{color:#fff;}




.agent-pc #header .nav>li:hover .subnav,
.agent-pc .service .content_list .item_block:hover .item_wrapper:after,
.agent-pc .ad01 .content_list .item_block.first:hover .item_img::before,
.agent-pc .mlist.team_tabs .tab_button li.item_block.active .item_img:after,
.agent-pc .news .content_list .item_block:hover::after,
.agent-pc .news .container_content .more:hover,
.agent-pc .project .description p a,
.agent-pc #sitecontent .project .description p a:hover,
.agent-mobile .npagePage.post .project #postInfo div.description a,
.agent-mobile .npagePage.post .project #postInfo .description a:hover,
#online_open,
.agent-pc .news .more,
.agent-pc #mcontact #contactinfo div a:hover,
#online_open:hover,
.agent-pc .news .item_block:hover,
#sitecontent #indexPage .mlist .module_container .container_content .content_wrapper .bx-pager .bx-pager-item a.active,
#sitecontent #indexPage .team .content_list .item_block .item_box .item_img:before,
.agent-pc .mlist.team_tabs .tab_content li .item_wrapper .item_info .title:before,
#sitecontent #indexPage .ad01 .module_container .container_content .content_wrapper .content_list .item_block:not(:nth-of-type(1)):hover .item_wrapper:before,
#sitecontent #indexPage .ad01 .module_container .container_content .content_wrapper .content_list .item_block:nth-of-type(1) .item_wrapper:before,
#sitecontent #indexPage .news .module_container .container_content .content_wrapper .bx-controls .bx-controls-direction a:hover,
#sitecontent #indexPage .mlist .module_container .container_content .content_wrapper .bx-pager .bx-pager-item a.active,
.agent-pc #sitecontent .npagePage .tab_button .bx-wrapper .content_list .item_block.active,
.agent-pc #sitecontent .npagePage:not(.post) .mlist.team .content_list .item_block .item_box .item_img:before,
.agent-pc #sitecontent .npagePage.post .content .mlistpost.news .module_container #listContent .mlist .content_list .item_block:hover .item_wrapper:before,
.agent-pc #sitecontent .project .description p a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus,
.agent-pc #indexPage #mcontact .container_content #contactlist #contactform .submit:hover,
#header .nav .subnav,
.agent-pc #sitecontent .npagePage #mcontact #contactform .submit:hover,
.agent-mobile .npagePage.post #postWrapper .item_tags a:hover,
.agent-pc #online_open
{border-color:#333;}

.agent-pc #sitecontent .npagePage:not(.post) .mlist.service .content_list .item_block:hover:after,
.agent-pc #sitecontent .npagePage:not(.post) .mlist.project .content_list .item_block:hover .item_wrapper .item_info:before,
#sitecontent #indexPage .service .module_container .content_wrapper .content_list .item_block:hover:after,
#sitecontent #indexPage .project .module_container .container_content .content_wrapper .content_list .item_block:hover .item_info:before{border-color: rgba(51, 51, 51, 0.36);}



#sitecontent #indexPage .service .module_container .content_wrapper:before,
#sitecontent #indexPage .mlist .module_container .container_header,
.agent-pc #sitecontent .npagePage #pageTarget .module_container,
.agent-pc #sitecontent .npagePage.post #pageTarget .module_container
{border-color:#f1f1f1;}




#sitecontent #indexPage .service .module_container .content_wrapper:before,
#sitecontent #indexPage .mcustomize .module_container .container_content .wrapper .header,
.agent-pc #contactform p textarea.inputtxt, .agent-pc #contactform p .inputtxt,
.agent-pc #indexPage #mcontact .container_content #contactlist #contactform .submit,
#sitecontent #indexPage .news .module_container .container_header,
.agent-pc #mcontact #contactinfo div a,
#sitecontent #indexPage .mlist .module_container .container_header,
.agent-pc #indexPage #mcontact .container_header:before,
.agent-pc #pages a.active, .agent-pc #pages a:hover,
#sitecontent #indexPage .mcustomize .module_container .container_content .mediabody,
.agent-pc #sitecontent .npagePage.post .content .mlistpost.news .module_container #postContent,
#indexPage .mcustomize .module_container .container_content .description:hover p:not(:first-child)
{border-color:#DEDEDE;}



.module.mcounter ul.content_list li p.number .counterDX,
#sitecontent #indexPage .service .module_container .content_wrapper .content_list .item_block:nth-child(2n+1) .item_wrapper .item_info .title,
.agent-pc .news .item_info .title,
.agent-pc .npagePage.post #postContent .title,
.agent-pc .service .title,
.agent-pc .project .title,
.agent-mobile .service .m_container .content .content_list .item_block .item_wrapper .item_info .title,
#indexPage .module .container_header .title,
.agent-pc #sitecontent .npagePage.post .content .mlistpost.news .module_container #listContent .mlist .content_list .item_block:hover .item_wrapper .item_des .description,
#sitecontent .mlist.team_tabs .tab_content li.item_block .title,
.agent-pc .team p.title,
#sitecontent #indexPage .mcustomize .module_container .container_content .wrapper .header p.title,
#sitecontent #indexPage .ad01 .module_container .container_content .content_wrapper .content_list .item_block:nth-of-type(1) .item_wrapper .title,
#sitecontent .ad01 .content_list li .title,
.agent-pc .team .item_box:hover .title,
.agent-pc #sitecontent .npagePage .content .mlistpost.project .item_wrapper .title,
.agent-pc #contactinfo h3.ellipsis,
.npagePage .mpageEditor .container_header .title,
#sitecontent .module.mcounter ul.content_list li p.title,
.agent-pc .news .date_wrap .year,
.agent-pc .news .content_list .item_box .item_wrapper .date_wrap .md,
.agent-mobile .npagePage.post #postInfo .title,
.agent-mobile #sitecontent .npagePage.post .project #postContent .title,
.agent-pc #shares a:hover i
{color: #6b6b6b;}


.cate-title{background-color: #0C0C0C;}
.gh0 #header .content{box-shadow:0 1px 8px rgba(195, 195, 195, 0.18);}





#footer,
.agent-pc .mlist.team_tabs .tab_content li .item_wrapper,
#sitecontent #indexPage .ad01 .module_container .container_content .content_wrapper .content_list .item_block .item_wrapper
{background-color: #f6f6f6;}


#sitecontent #indexPage .mlist .module_container .container_category a::before{color:#e2e2e2;}

#sitecontent #indexPage .mlist,
#sitecontent #indexPage .service .module_container .content_wrapper .content_list .item_block .item_wrapper,
#sitecontent #indexPage .service .module_container .content_wrapper .content_list .item_block:hover .item_wrapper,
#sitecontent #indexPage .project .module_container .container_content .content_wrapper .content_list .item_block .item_wrapper,
.agent-pc #sitecontent .npagePage:not(.post) .mlist.project .content_list .item_block .item_wrapper,
.agent-pc #indexPage #mcontact .container_content,
#sitecontent #indexPage .ad01 .module_container .container_content .content_wrapper .content_list .item_block:not(:nth-of-type(1)):hover .item_wrapper,
.agent-pc #sitecontent .npagePage:not(.post) .mlist.service .content_list .item_block:hover .item_wrapper,
.agent-pc #sitecontent .npagePage:not(.post) .mlist.service .content_list .item_block .item_wrapper,
#sitecontent #indexPage .team .content_list .item_block .item_box .item_wrapper,
 .agent-pc #header .nav .subnav li a:hover,
 .mm-menu, .dropmenu ul li a,
 .cate-title
{background-color:#fff;}



#sitecontent #indexPage .service .module_container .content_wrapper .content_list .item_block:hover:before,
#sitecontent #indexPage .service .module_container .content_wrapper .content_list .item_block:nth-child(2n+1):hover:before,
#sitecontent #indexPage .service .module_container .content_wrapper .content_list .item_block:nth-child(2n+1):before,
#sitecontent #indexPage .service .module_container .content_wrapper .content_list .item_block:nth-child(2n):before,
.agent-pc #sitecontent .npagePage:not(.post) .mlist.service .content_list .item_block:hover:before
{color:#EFEFEF;}


#sitecontent #indexPage .service .module_container .content_wrapper .bx-controls .bx-controls-direction a,
#sitecontent #indexPage .team .module_container .container_content .content_wrapper .bx-wrapper .bx-controls .bx-controls-direction a,
#sitecontent #indexPage .news .module_container .container_content .content_wrapper .bx-controls .bx-controls-direction a,
.agent-pc #header .nav .subnav li a.active,
.agent-pc #sitecontent .npagePage:not(.post) .mlist.news .content_list .item_block .item_mask,
.agent-pc #sitecontent .npagePage:not(.post) .mlist.news .content_list .item_block a.details,
.agent-pc #sitecontent .npagePage:not(.post) .mlist.news .content_list .item_block:hover a.details,
#sitecontent #indexPage .news .module_container .container_content .content_wrapper .content_list .item_block .item_mask,
.agent-mobile .service .m_container .content .content_list .item_block .item_wrapper,
.agent-mobile .service .m_container .content .content_list .item_block .item_wrapper:hover,
#sitecontent #indexPage .news .module_container .container_content .content_wrapper .content_list .item_block a.details
{background-color:#F3F3F3;}




#sitecontent #indexPage .news .module_container .container_content .content_wrapper .bx-controls .bx-controls-direction a,
{border-color:#F3F3F3;}

#sitecontent #indexPage .service .module_container .content_wrapper .bx-controls .bx-controls-direction a.bx-prev i::after,
#sitecontent #indexPage .service .module_container .content_wrapper .bx-controls .bx-controls-direction a.bx-next i::after,
#sitecontent #indexPage .team .module_container .container_content .content_wrapper .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev i::after,
#sitecontent #indexPage .team .module_container .container_content .content_wrapper .bx-wrapper .bx-controls .bx-controls-direction a.bx-next i::after,
#sitecontent #indexPage .news .module_container .container_content .content_wrapper .bx-controls .bx-controls-direction a.bx-prev i::after,
#sitecontent #indexPage .news .module_container .container_content .content_wrapper .bx-controls .bx-controls-direction a.bx-next i::after,
.agent-pc #pages a.active, .agent-pc #pages a:hover,
.module.mcounter ul.content_list li p.number .unit
{color:#bbb;}


#sitecontent #indexPage #topSlider .bx-wrapper .bx-controls .bx-controls-direction a{background:rgba(255, 255, 255, 0.12);}

/*副标题文字颜色*/
#sitecontent #indexPage .ad01 .module_container .container_content .content_wrapper .content_list .item_block:hover:not(:nth-of-type(1)) .item_wrapper .item_info .subtitle,
#sitecontent #indexPage .ad01 .module_container .container_content .content_wrapper .content_list .item_block:nth-of-type(1) .item_wrapper .subtitle,
#sitecontent #indexPage .service .module_container .content_wrapper .content_list .item_block:hover .item_wrapper .item_info .subtitle，
.agent-pc .mlist.team_tabs .tab_button .item_info p.subtitle,
.agent-pc .mlist.team_tabs .tab_button li .item_wrapper .item_info p.subtitle,
#sitecontent #indexPage .project .module_container .container_content .content_wrapper .content_list .item_block:hover .item_wrapper .item_info .subtitle,
.agent-pc #sitecontent .npagePage:not(.post) .mlist.service .content_list .item_block:hover .item_wrapper .item_info .subtitle,
.agent-pc .project .description a,
.agent-mobile .project .item_block .subtitle,
.agent-mobile .mlist .container_header .title
{color: #828282;}


#sitecontent #indexPage #topSlider .bx-wrapper .bx-controls .bx-controls-direction a:hover{background:rgba(149, 149, 149, 0.3);}
#sitecontent #indexPage .team .content_list .item_block .item_box .item_wrapper .item_info,
#sitecontent #indexPage .news .module_container .container_content .content_wrapper .content_list .item_block:hover a.details,
.agent-pc #pages a.active, .agent-pc #pages a:hover,
.agent-pc #sitecontent .npagePage:not(.post) .mlist.team .content_list .item_block .item_box .item_wrapper,
.agent-mobile .indexPage .wrapper>.more,
.agent-mobile .team .content_list li,
.agent-mobile .dropmenu ul li:hover a,
.agent-pc #shares a:hover,
.agent-pc #olx_qq li a
{background-color: #E8E8E8;}
 

.agent-pc #shares a:hover,
#olx_qq li a
{border-color: #e8e8e8;}

.agent-pc .mlist.team_tabs .tab_button .item_info p.subtitle,
.agent-pc .news .content_list a.details,
.agent-pc #sitecontent .npagePage #pageTarget .module_container .container_target a,
.npagePage .container_target,
.npagePage .container_target i,
.agent-mobile .project .content_list .item_block:hover .subtitle,
#shares a:hover i
{color: #9C9C9C;}




.agent-pc .news .content_list a.details i,
#sitecontent #indexPage .service .module_container .content_wrapper .content_list .item_block .item_wrapper .item_info .title:after,
.agent-pc #sitecontent .npagePage:not(.post) .mlist.service .content_list .item_block:nth-child(2n) .item_wrapper .item_info .title:after,
.agent-pc #sitecontent .npagePage:not(.post) .mlist.service .content_list .item_block:nth-child(2n+1) .item_wrapper .item_info .title:after,
.agent-pc #sitecontent .npagePage #mcontact #contactform .submit,
.agent-pc #sitecontent .npagePage:not(.post) .mlist.news .content_list .item_block:hover .item_mask
{border-color:#cfcfcf;}

#sitecontent #indexPage .mlist.imagelink .module_container li:before{border-color:#D4D4D4;}
#sitecontent #indexPage .news .module_container .container_content .content_wrapper .content_list .item_block:hover .item_mask{background-color:rgba(0, 0, 0, 0.5);}
#sitecontent #indexPage .ad01 .module_container .container_content .content_wrapper .content_list .item_block:nth-of-type(1) .item_wrapper:after{border-color: #F6F6F6;border-left-color: transparent;border-bottom-color: transparent;border-right-color: transparent;}
.agent-pc .npagePage .container_category a:not(:first-child):before{color:#DCDCDC;}


.agent-pc #sitecontent .npagePage .bx-controls-direction a,
.agent-pc #sitecontent .npagePage.post #postWrapper .item_tags a
{background-color: #E4E4E4;}


#sitecontent #indexPage .news .module_container .container_content .content_wrapper .content_list .item_block a.details::before,
.agent-pc #sitecontent .npagePage.post #postWrapper .item_tags a,
.agent-pc .mlist.team_tabs .tab_button li,
.agent-mobile .dropmenu ul
{background-color:#eaeaea;}


#moduleControl a.moduleCItem.active, #moduleControl a.moduleCItem:hover{border-color:#545454;}

#moduleControl a.moduleCItem:nth-of-type(12):before,
#moduleControl a.moduleCItem:nth-of-type(11):before,
#moduleControl a.moduleCItem:nth-of-type(10):before,
#moduleControl a.moduleCItem:nth-of-type(9):before,
#moduleControl a.moduleCItem:nth-of-type(8):before,
#moduleControl a.moduleCItem:nth-of-type(7):before,
#moduleControl a.moduleCItem:nth-of-type(6):before,
#moduleControl a.moduleCItem:nth-of-type(5):before,
#moduleControl a.moduleCItem:nth-of-type(4):before,
#moduleControl a.moduleCItem:nth-of-type(3):before,
#moduleControl a.moduleCItem:nth-of-type(2):before,
#moduleControl a.moduleCItem:nth-of-type(1):before,
#sitecontent .project .item_block .title,
#mcontact .container_header .title, .module.mcustomize .header .title,
.agent-mobile .team .item_block .title,
.agent-mobile #sitecontent .npagePage.post #postContent .title, .agent-mobile .news .item_block .item_info .title, .agent-mobile .news .item_block.item_info .title,
.agent-mobile #mcontact .contactinfo h3,
.cate-title,
.agent-mobile .npagePage.pageEditor .container_header .title
{color: #545454;}


.singlescreen #sitecontent #indexPage .news .module_container .container_content .content_wrapper:after,
#sitecontent #indexPage .news .module_container .container_content .content_wrapper .bx-controls .bx-controls-direction a,
.agent-mobile .npagePage.post #postWrapper .item_tags a,
.agent-mobile .mlist.news .content_list li
{border-color:#ECECEC;}




.agent-pc .npagePage .news .content_list a.details:after{background-color: #cfcfcf;}
#sitecontent #indexPage .project .module_container .container_content .content_wrapper .bx-controls .bx-controls-direction .bx-prev i::after,
#sitecontent #indexPage .project .module_container .container_content .content_wrapper .bx-controls .bx-controls-direction .bx-next i::after,
#sitecontent #indexPage #topSlider .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev i::after,
#sitecontent #indexPage #topSlider .bx-wrapper .bx-controls .bx-controls-direction a.bx-next i::after
{color:rgba(255, 255, 255, 0.62);}


#sitecontent #indexPage .project .module_container .container_content .content_wrapper .bx-controls .bx-controls-direction a{background-color: rgba(255, 255, 255, 0.18);}
.agent-pc #olx_head{background-color: #969696;}



.agent-mobile #sitecontent .ad01 .m_container .content .content_list li:not(:nth-of-type(1)) .item_wrapper{background: #fff;}   
.agent-mobile #sitecontent .ad01 .m_container .content .content_list li:not(:nth-of-type(1)) .item_wrapper:hover{background: #fff;}
.agent-mobile .ad01 .content_list li:hover .item_wrapper{background-color: #fff;}
.agent-mobile .ad01 .content_list li:hover .subtitle{color: #999;}







#sitecontent #indexPage .mcustomize .module_container .container_content .wrapper .description span a{color:#666 !important;}


#sitecontent #indexPage .videom .module_container .container_content .content_wrapper .bx-controls .bx-controls-direction .bx-next:hover i::after,
#sitecontent #indexPage .videom .module_container .container_content .content_wrapper .bx-controls .bx-controls-direction .bx-prev:hover i::after {
    color:#333;
}


#sitecontent .videom .item_block:hover .item_info,
.npagePage:not(.post) .videom .item_block:hover .item_info {
    background-color:#fff;
}

.videoTabBtns .videoTabBtn:hover{background-color:#1b1b1b;}
.videoTabBtns .videoTabBtn.prev:hover .icon:after,
.videoTabBtns .videoTabBtn.next:hover .icon:after{color: #fff;}


#sitecontent .videom .item_block .item_info .title, .npagePage:not(.post) .videom .item_block .item_info .title{color: #565656;}
#sitecontent .videom .item_block:hover .item_info .subtitle, .npagePage:not(.post) .videom .item_block:hover .item_info .subtitle{color: #6b6b6b;}
#sitecontent .videom .item_block:hover .item_info .title, .npagePage:not(.post) .videom .item_block:hover .item_info .title{color:#333;}



#sitecontent .videom .item_block .item_info{background-color:#fff;}
.agent-pc #pages a{border:1px solid rgba(42, 42, 42, 0.09);}


.agent-mobile #online a {
    
    color: #333;
}

.agent-mobile #online {
    
    background: rgba(243,243,243,.9);
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
}